body{
    @extend %center-flex;
}

// DateSettings

.date-settings{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.data-fieldset{
    @extend %center-flex;
    flex-direction: column;
}

// DateResultButton

.date-button-section{
    @extend %center-flex;

    @include respond-to('large'){
        justify-content: flex-end;
    }
}

// DateResult

.date-result{
    @extend %center-flex;
    flex-direction: column;
}
