body{
    display: flex;
    justify-content: center;
    align-items: center;
}

// DateSettings start

.date-settings{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.data-fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// DateSettings end

.date-result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}