// Primary Color
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);

// Neutral Color
$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// object color
$body-bg-color: $off-white;

// DateSettings
$data-main-bg-color: $white;
$data-fieldset-input-border-color: $light-grey;
$data-fieldset-label-color: $smokey-grey;
$data-fieldset-input-hover-border-color: $purple;
$data-fieldset-wrong-input-border-color: $light-red;
$data-fieldset-wrong-label-color: $light-red;

// DateResultButton

$date-result-button-bg-color: $purple;
$date-result-button-bg-hover-color: $off-black;
$date-result-button-hr-bg-color: $off-white;

// DateResult

$cal-result-color: $purple;


// RWD

$breakpoints: (
    'small': (min-width: 375px),
    'large': (min-width: 1440px)
)