.date-button-section{
    position: relative;
    width: calc(100% - 1rem);
    padding: 1rem .5rem 0 .5rem;

    #date-result-button{
        background-color: $date-result-button-bg-color;

        padding: 1rem;

        border-radius: 50%;
        border: 0;
        z-index: 1;      
        transition: .2s ease-in;
    }
    #date-result-button:hover{
        background-color: $date-result-button-bg-hover-color;
        transform: scale(1.1) translate(0, -.5rem);
    }
    #date-result-button:focus{
        transform: scale(1.1) translate(0, -.5rem);
    }

    hr{
        position: absolute;
        height: 3px;
        width: 80%;

        border: 0;

        background-color: $date-result-button-hr-bg-color;
        border-radius: 10px;
    }

    // RWD

    @include respond-to('large'){
        width: 45vw;
        padding: 0 3rem;

        #date-result-button{
            padding: 1.3rem;
        }

        hr{
            width: calc(95% - 3rem);
        }
    }
}