.date-settings{
    width: calc(100% - 1rem);
    max-width: 550px;
    padding: 4rem .5rem 0 .5rem;
}
.data-fieldset{
    width: 100%;
    margin: .5rem;
    border: 0;

    label{
        width: 90%;

        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: $data-fieldset-label-color;
    }

    input{
        border: 2px solid $data-fieldset-input-border-color;
        border-radius: 7px;

        width: 16vw;
        max-width: 120px;

        height: 3vh;
        max-height: 200px;
        
        padding: 1rem;

        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.4rem;

        transition: .2s ease-in;
    }

    input:focus{
        outline: none;
        border-color: $data-fieldset-input-hover-border-color;  

        transform: scale(1.01) translate(0, .1rem);
    }
}

.data-fieldset-wrong{
    border: 2px solid $data-fieldset-wrong-input-border-color !important;
}
